
.randomClass {
    text-align: center;
}

.title {
    text-align: center;
}

#footer {
    position: absolute;
    bottom: -2;
    width: 100%;
    height: 3rem;
    /* Footer height */
}

#goAgain {
    text-align: center;
}

body {
    background-color: #343A40;
    color: white;
    /* background-image: url("mwbg.jpg"); */
    background-image: url("warzonebg.jpg");
    background-size: auto;
    
    background-repeat: no-repeat;
}

.contactContent {
    text-align: center;
    padding-top: 1%;
}

.ksPictures {
    text-align: center !important;
    display: table;
    margin: auto;

}

.bugContent{
    padding-top: 2%;
}

.bugCenter{
    text-align: center;
    padding-top: 2%;
    display: block;

}

.classContent{
    background-color:rgba(255, 255, 255, 0.75);
    color: black;
    padding: 1%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: -20px;;
    width: 76%;
    height: 90%;

}

.footerBG{
margin-top: -6%;
}

.updates{
    background-color:rgba(255, 255, 255, 0.75);
    color: black;
    padding: 1%;
}


.playstore{
    width: 200px;
}

.ksimage{
    width: 10%;;
    margin-top: -30px;
}

.updates{
    background-color:rgba(255, 255, 255, 0.75);
    color: black;
    padding: 1%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;;
    width: 76%;
    height: 90%;
    margin-bottom: -300px;
}

.updateText{
    text-align: left;
}

li{
    padding: 5px;
}

#primary{
    max-width: 100%;
}

#secondary{
    max-width: 100%;
}

.ksimage{
    width: 45px;
}

#classContent{
    max-width: 100%;
    padding: 50px;
}

.Blue{
    color: #3BD0E2 !important;
    font-weight: bold !important;
}

.White{
    color: white !important;
}